@charset "utf-8";
/* ACCORDER Inc. */
/* Base Style
----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Cormorant:wght@500&display=swap');
*, body { font-family:"游明朝",YuMincho,"utsukushiregular",“Times New Roman”,Times,"ヒラギノ明朝 ProN W3","HiraMinProN-W3","Hiragino Mincho ProN","HG明朝E","メイリオ",Meiryo,"ＭＳ Ｐ明朝","ＭＳ 明朝",serif; font-weight:600; letter-spacing:1px; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
@media all and (-ms-high-contrast: none) {
  *, body {
    font-family: "HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝", sans-serif;
  }
}
.clearfix:after { content:"."; display:block; height:0px; clear:both; visibility:hidden; } /* Crearfix for Modern Browsers including Firefox, Opera, Safari, etc */
.clearfix { display:inline-block; } /* For Windows IE7 and Mac IE5 */
* html .clearfix{ height:1px; } /* For Windows IE5/IE6: Hides from IE-mac */
.clearfix { display:block; }
.clear { clear:both; } /* End hide from IE-mac */
img { -ms-interpolation-mode:bicubic; image-rendering:optimizequality; vertical-align:bottom; } /* Better images when resized for IE7, FF3.5+ */
a { text-decoration:none; transition: opacity 0.4s ease; }
a.hover { text-decoration:none; opacity:0.7; }
html,body { height:100%; }
main,section { display:block; }
@media (hover: hover) {
  a[href^='tel:'] {
    pointer-events: none;
  }
}
input[type="text"],
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize:none;
}
input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}
html { opacity: 0; }

/* wrapper  ----------------------- */
#wrapper { padding-left:200px; position:relative; overflow:hidden; }
#container { background:url(../img/container_bg.png) no-repeat left top 155px / 1608px; padding-bottom:200px; position:relative; }
.under #container { padding-left:186px; padding-right:80px; overflow:hidden; }
.content { width:81.5%; max-width:1030px; margin:0 auto; }

/* color  ----------------------- */

/* font  ----------------------- */
.all_italic { font-style: italic; }
.all_font_c { font-family: 'Cormorant', serif; }
.all_font_cg { font-family: 'Cormorant Garamond', serif; }
.all_font_yugo { font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif; }
@media all and (-ms-high-contrast: none) {
  .all_font_yugo {
    font-family: "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

/*共通  ----------------------- */
.white_bg {
	animation: whiteBg 2s ease ;
}
@keyframes whiteBg {
	0% { opacity: 1; }
	20%,80% { opacity: 0; }
	100% { opacity: 1; }
}
.all_new_line { display:inline-block; letter-spacing:inherit; font-weight:inherit; font-family:inherit; }
.sp { display:none; }
/*all_title*/
.all_title {
	font-weight:600;
	font-size:30px;
	color:#1A1A1A;
}
.all_title._border_title_double { text-align:center; }
.all_title ._border_text {
	padding-right:50px;
	position:relative;
	display:inline-block;
	letter-spacing:inherit;
}
.all_title._border_title_double ._border_text {
	padding:0 35px 0 38px;
}
.all_title ._border_text:after {
    content:"";
    background:#1A1A1A;
    width:30px;
    height:1px;
    position:absolute;
    right:0;
    top:50%;
    display:block;
}
.all_title._border_title_double ._border_text:before {
	content:"";
    background:#1A1A1A;
    width:16px;
    height:1px;
    position:absolute;
    left:0;
    top:50%;
    display:block;
}
.all_title._border_title_double ._border_text:after {
	width:16px;
}
/*all_copy*/
.all_copy {
	margin-top:45px;
	font-size:24px;
	color:#1A1A1A;
}
/*all_text*/
.all_text {
	line-height:2;
	font-size:15px;
	color:#1A1A1A;
}
.all_text p:nth-child(n+2) { margin-top:0.5em; }
.all_text_link { color:#748729; }
/*all_slideup_item*/
.all_slideup_item {
	position: relative;
	top: 120px;
	opacity: 0;
	transition:top .6s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity .4s ease;
}
.anime.all_slideup_item { top: 0; opacity: 1; }
/*all_caution_text*/
.all_caution_text {
	margin-top:20px;
	font-size:13px;
	color:#333;
	opacity:0.75;
}
/*all_parallax*/
.all_parallax {
	position: relative;
	overflow: hidden;
}
.all_parallax img {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
}
/*all_fv*/
.all_fv { padding-top:65px; }
.all_fv_copyright {
	text-align:right;
	line-height:1;
	letter-spacing:0.8px;
	font-weight:400;
	font-size:12px;
	font-family: 'Cormorant Garamond', serif;
	color:#1A1A1A;
}
.all_fv_breadcrumb {
	margin-top:120px;
	letter-spacing:0;
	font-size:0;
}
.all_fv_breadcrumb li {
	margin-right:32px;
	position:relative;
	display:inline-block;
	vertical-align:middle;
	letter-spacing:0;
	font-weight:500;
	font-size:15px;
	font-family: 'Cormorant Garamond', serif;
	color:#748729;
}
.all_fv_breadcrumb li:after {
    content:"・";
    position:absolute;
    right:-24px;
    top:0;
    display:block;
    opacity:0.23;
    white-space:nowrap;
    overflow:auto;
}
.all_fv_breadcrumb li:last-child { margin-right:0; }
.all_fv_breadcrumb li:last-child:after { display:none; }
.all_fv_breadcrumb span {
	letter-spacing:0;
	font-weight:500;
	font-family: 'Cormorant Garamond', serif;
	color:#1A1818;
	opacity:0.23;
	transition: opacity 0.4s ease,color 0.4s ease;
}
.all_fv_breadcrumb a.hover { opacity:1; }
.all_fv_breadcrumb a.hover span { opacity:1; color:#748729; }
.all_fv_title {
	margin-top:115px;
	padding-bottom:22px;
	position:relative;
	line-height:1.4;
	font-weight:600;
	font-size:48px;
	color:#1A1A1A;
}
.all_fv_title:before {
    content:"";
    background:#E1E3D9;
    width:100vw;
    height:1px;
    position:absolute;
    left:0;
    bottom:0;
    display:block;
}
.all_fv_title:after {
    content:"";
    background:#748729;
    width:62px;
    height:1px;
    position:absolute;
    left:0;
    bottom:0;
    display:block;
}
.all_fv_copy { margin-top:58px; }
.all_fv_copy .all_text { margin-top:20px; }

/*all_tab*/
.all_tab {
	background:#fff;
	max-width:100%;
	position:relative;
	display:inline-block;
	vertical-align:top;
	border:1px #E3EFB6 solid;
	border-radius:32px;
}
.all_tab ul {
	display:flex;
}
.all_tab li {
	width:242px;
	position:relative;
	z-index:2;
	text-align:center;
}
.all_tab a {
	height:62px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:15px;
	color:#748729;
	transition: color 0.4s ease,opacity 0.4s ease;
}
.all_tab a.on {
	color:#fff;
}
.all_tab ._bg {
    background:#748729;
    width:50%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    display:block;
    border-radius:32px;
    transition: transform 0.4s ease,width 0.4s ease;
}
.consultation .all_tab ._bg {
	left:auto;
	right:0;
}

/*all_full_sec*/
.all_full_sec { width:120.5%; }

/*all_side_link*/
.all_side_link {
	background:#F7F8F2;
	width:186px;
	height:100vh;
	position:fixed;
	left:200px;
	top:0;
	z-index:2;
}
.all_side_link ._list {
	width:100%;
	position:absolute;
	left:0;
	top:50%;
	transform:translateY(-50%);
}
.all_side_link ._list li:nth-child(n+2) {
	margin-top:12px;
}
.all_side_link ._list a {
	padding:13px 30px 13px 12px;
	position:relative;
	display:block;
	border-bottom:1px #E1E3D9 solid;
	letter-spacing:0;
	font-size:14px;
	color:#1A1818;
	opacity:0.2;
	transition: opacity 0.4s ease;
}
.all_side_link ._list a.on,
.all_side_link ._list a.hover { opacity:1; }
.all_side_link ._list a:after {
    content:"";
    background:url(../images/all_side_link_arrow.svg) no-repeat center / 100% 100%;
    width:5px;
    height:10px;
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%) rotate(90deg);
    display:block;
    transition: transform 0.4s ease;
}
.all_side_link ._list a.on:after {
	transform:translateY(-50%);
}

/*all_foot_link*/
.all_foot_link {
	background:#fff;
	padding-bottom:150px;
	position:relative;
	z-index:2;
	display:flex;
}
.all_foot_link ._sec {
	background:#fff;
	width:50%;
	height:407px;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	transition: background 0.4s ease;
	overflow:hidden;
}
.all_foot_link ._sec:nth-child(2) { border-left:1px #D3D3D3 solid; }
.all_foot_link ._sec:after {
    content:"";
    background:#AFA300;
    width:100%;
    height:0;
    padding-top:100%;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    opacity: 0;
    display:block;
    transition: opacity 0.6s ease;
}
.all_foot_link ._sec.hover {
	opacity:1;
}
.all_foot_link ._sec.hover:after {
	opacity: 1;
}
.all_foot_link ._top {
	padding:0 20px;
	position:relative;
	z-index:2;
	text-align:center;
	line-height:1.4;
	letter-spacing:2px;
	font-size:36px;
	color:#748729;
	transition: color 0.6s ease;
}
.all_foot_link ._sec.hover ._top { color:#fff; }
.all_foot_link ._bottom {
	margin-top:5px;
	position:relative;
	z-index:2;
	line-height:1;
	letter-spacing:0;
	font-weight:500;
	font-size:20px;
	color:#1A1A1A;
	opacity:0.5;
	transition: color 0.6s ease;
}
.all_foot_link ._sec.hover ._bottom { color:#fff; }

/* #header ヘッダー
=========================================== */
#header {
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.header_inner {
	background: #fff;
	width: 200px;
	height: 100%;
	border-right: 1px solid #DBDBDB;
	position: relative;
	z-index: 2;
}
.header_scroll {
	height: calc(100% - 72px);
	position: absolute;
	top: 36px;
	right: 0;
}
.header_scroll_bar {
	background: #748729;
	width: 2px;
	height: 72px;
	position: absolute;
	top: 0;
	right: -1px;
	transform: translateY(-50%);
}
.header_logo {
	width: 38%;
	position: absolute;
	top: 50px;
	left: 50%;
    transform: translateX(-50%);
}
.header_logo a { display: block; }
.header_logo a.hover { opacity: 1; }
.header_logo img { width: 100%; height: auto; }
.header_nav_button {
	max-width: 50px;
	position: absolute;
	top: 50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 0; letter-spacing: 0;
    cursor: pointer;
}
.header_nav_button_inner {
	width: 42px;
	height: 25px;
	margin-bottom: 15px;
	position: relative;
	display: inline-block;
}
.header_nav_button_inner div {
	background: #1a1a1a;
	height: 1px;
	position: absolute;
	left: 0;
	transition:width .1s .2s ease, transform .3s ease, top .3s ease;
}
#header.anime .header_nav_button_inner div {
	transition:width .1s ease, transform .3s .1s ease, top .3s .1s ease;
}
.header_nav_button_inner div:nth-of-type(1) {
	width: 100%;
	top: 12px;
}
.header_nav_button_inner div:nth-of-type(2) {
	width: 50%;
	top: 24px;
}
#header.anime .header_nav_button_inner div:nth-of-type(1) {
	transform:rotate(-145deg);
}
#header.anime .header_nav_button_inner div:nth-of-type(2) {
	width: 100%;
	top: 12px;
	transform:rotate(145deg);
}
.header_nav_button::after {
	content:'MENU';
	display: inline-block;
	letter-spacing: 0.1em;
    font-family: 'Cormorant Garamond', serif;
	font-size: 14px;
	font-weight: 500;
	color: #1a1a1a;
}
#header.anime .header_nav_button::after { content:'CLOSE'; }

.header_lang {
	width: 124px;
	max-width: 85%;
	height: 33px;
	padding: 2px;
	border: 1px solid #efefef;
	border-radius: 16px;
	position: absolute;
	bottom: 24px;
	left: 50%;
    transform: translateX(-50%);
    /*display: none !important;*/
}
.header_lang li {
	width: 50.8%;
	height: 27px;
	position: absolute;
}
.header_lang ._cn { left: 2px; }
.header_lang ._en { right: 2px; }
.header_lang .current {
	background: #748729;
	border-radius: 14px;
	z-index: 1;
}
.header_lang * {
	font-size: 14px;
	color: #1a1818;
}
.header_lang .current * { color: #fff; }
.header_lang li>* {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	line-height: 27px;
}

.header_content { display: none; transition: .4s ease; }
#header.on .header_content {
	background: rgba(255, 255, 255, 0.98);
	width: 100vw;
	height: 100%;
	padding-left: 200px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-y: auto;
	overflow-x: hidden;
	opacity: 0;
}
#header.anime .header_content {
	opacity: 1;
}
.header_content ._inner {
	width: 100%;
	height: 100%;
	min-height: 800px;
	position: relative;
	overflow: hidden;
}
.header_content ._inner::before{
	content: '';
	display:block;
	background: url('../img/header_content_logo.svg') no-repeat center right / 100%;
	width: 36.25vw;
	height: 35.94vw;
	max-width: 580px;
	max-height: 575px;
	position: absolute;
	bottom: 0;
	right: -63px;
	transform: translateY(10%);
}
.header_content_wrap {
	position: absolute;
	top: 54%;
	left: 12.86%;
    transform: translateY(-50%);
}
.header_content_wrap>* { opacity: 0; transition: .6s ease; }
#header.anime .header_content_wrap>* { opacity: 1; }
.header_content_head { padding-bottom: 50px; }
.header_list { max-width: 900px; }
.header_list li {
	margin-right: 191px;
	display: inline-block;
}
.header_list li:nth-of-type(n+3) { margin-top: 80px; }
.header_list li:last-of-type { margin-right: 0; }
.header_list ._en {
	display: block;
	letter-spacing: 0;
	line-height: 1;
	font-size: 14px;
	color: #b7b7b7;
	font-weight: 500;
}
.header_list ._cn {
	display: block;
	letter-spacing: 0.05em;
	font-size: 32px;
	font-weight: 500;
	color: #1a1a1a;
	-webkit-font-feature-settings:"palt"; font-feature-settings:"palt";
	transition: .4s ease;
}
.header_list .hover ._cn {
	color: #748729;
}
.header_list_small ._en { font-size: 14px; }
.header_list_small.header_list_small ._cn { margin-top: 6px; font-size: 18px; }
.header_list_small { margin-top: 90px; }
.header_content_foot {
	width: 37.5vw;
	min-width: 560px;
	padding-top: 48px;
	position: relative;
}
.header_content_foot::before{
	content: '';
	display:block;
	background: #e1e1e1;
	height: 1px;
	width: calc(100% + 8px);
	position: absolute;
	top: 0;
	right: 0;
}
.header_content_foot ._foot_sec {
	margin-top: 50px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-end;
}
.header_content_foot ._address {
	font-size: 15px;
	line-height: 1.6;
}
.header_content_foot ._tel {
	font-size: 23px;
	letter-spacing: -0.03em;
	font-weight: 500;
}
.header_content_foot ._tel a { color: #1a1a1a; }
.header_content_privacy {
	position: absolute;
	left: calc(100% - 180px);
	top: 86px;
}
.header_content_privacy a {
	letter-spacing: -0.03em;
	font-size: 15px;
	color: #1a1a1a;
}

/* #top　トップページ
=========================================== */
.loading {
	background: #fff;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transition: 1s ease;
	z-index: 100;
	display: flex;
    align-items: center;
    justify-content: center;
}
.loading.active { opacity: 0; }
.loading.hide { display: none; }
.loading_animation {
	width: 182px;
	height: 181px;
}
.loading_animation img { width: 100%; height: auto; }
.loading_animation {
	animation: fadeIn .8s ease both, fadeOut 1s ease 2s forwards ;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
        filter: blur(15px);
    }
    100%{
    	opacity: 1;
    	filter: blur(0px);
    }
}
    
@keyframes fadeOut{
    0%{
    	opacity: 1;
    	filter: blur(0px);
    }
    100%{
        opacity: 0;
        filter: blur(15px);
        transform: scale(1.2);
    }
}
.top .header_inner {
	transform: translate3d(-100%,0,0);
	opacity: 0;
	transition:transform 1s 1s ease;
}
.top.anime .header_inner {
	opacity: 1;
	transform: translate3d(0,0,0);
}
.top #container { background:#fff; }
.top_mv {
	width: calc(100% + 200px);
	right: 200px;
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.top_mv_title {
	width: 29.25%;
	min-width: 300px;
	position: absolute;
	top: 50%;
    left: 47.5%;
    transform:translateX(-50%) translateY(-50%);
    z-index: 2;
}
.top_mv_title img {
	width: 100%; height: auto;
	opacity: 0; transform: translateY(40px);
	transition: 1s 1s ease; }
.top.anime .top_mv_title img {  opacity: 1; transform:none; }
.top_mv_img_sec {
	height: 100%;
	display: flex;
    flex-wrap: wrap;
    font-size: 0; letter-spacing: 0;
}
.top_mv_img_sec ._img { position: relative; overflow: hidden; transform: translate3d(0, 20%, 0); opacity: 0; will-change: transform, opacity;  }
.top_mv_img_sec ._left {
	width: 79.7%;
	transition:transform 1.6s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 1.4s ease;
}
.top_mv_img_sec ._right {
	background: url('/img/1530859461.jpg') no-repeat center right / cover;
	width: 20.3%;
	transition:transform 1.2s .4s cubic-bezier(0.22, 0.61, 0.36, 1) , opacity 1s .2s ease;
}
.top_mv_img_sec ._img ._inner {
	width: 100%;
	height: 100%;
	will-change: transform;
}
.top_mv_img_sec ._left ._inner {
	background: url('./img/369843.jpg') no-repeat 36% center / cover;
	transform:scale(1.4);
	transition: 1.4s ease;
}
.top_mv_img_sec ._right ._inner {
	background: url('/img/1530859461.jpg') no-repeat 36% center / cover;
	transform:scale(1.8);
	transition: 1.4s .4s ease;
}
.top.anime .top_mv_img_sec ._img { transform:none; opacity: 1; }
.top.anime .top_mv_img_sec ._img ._inner { transform:none; }

.top_mv_img_sec img {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
}

.top_intro {
	background:url(../images/container_bg.png) no-repeat left top -45px / 1608px;
	padding-top: 270px;
	padding-bottom: 200px;
    padding-left: 12.86%;
}
.top_intro ._inner { position: relative; opacity: 1!important; }
.top_intro_copy {
	width: 87%;
	position: relative;
	transform: translateY(-12.2%);
	z-index: 1;
	mix-blend-mode: exclusion;
}
.top_intro_copy img { width: 100%; height: auto; }
@media all and (-ms-high-contrast: none) {
    .top_intro_copy { mix-blend-mode: unset; }
    .top_intro_copy img { opacity: 0; }
    .top_intro_copy::after{
		content: '';
		display:block;
		background: url('../images/top_intro_copy_ie.svg') no-repeat center right / 100%;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}
.top_intro_img_sec {
	width: 37.5vw;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0; letter-spacing: 0;
}
.top_intro_img_sec ._img {
	width: 50%;
	padding-bottom: 105.6%;
	display: inline-block;
}
.top_intro_text_sec { margin-top: 20px; }
.top_intro_title {
	letter-spacing: 0.05em;
	font-size: 30px;
	font-weight: 600;
}
.top_intro ._text_wrap { margin-top: 45px; }
.top_intro .all_text +* { margin-top: 15px; }

.top_more_button { margin-top: 54px; }
.top_more_button a {
	padding-right: 66px;
	position: relative;
	display: inline-block;
}
.top_more_button a.hover { opacity: 1; }
.top_more_button ._text {
	display: inline-block;
	position: relative;
	letter-spacing: -0.03em;
	line-height: 46px;
	font-size: 15px;
	font-weight: bold;
	color: #748729;
}
.top_more_button ._text::before{
	content: '';
	display:block;
	background: #748729;
	height: 1px;
	width: 0;
	transition: width .4s ease;
	transform-origin: left center;
	position: absolute;
	left: 0;
	top: calc(50% + 9px);
    transform: translateY(-50%);
}
.top_more_button .hover ._text::before { width: 100%; }
.top_more_button ._arrow {
	background: #748729;
	width: 46px;
	height: 46px;
	display: block;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: 23px;
    transform:translateX(50%) translateY(-50%);
	transition: .4s ease;
}
.top_more_button .hover ._arrow {
    transform:translateX(50%) translateY(-50%) scale(1.3);
}
.top_more_button ._arrow span {
	background: #fff;
	height: 1px;
	width: 8px;
	position: absolute;
	top: 50%;
    left: 50%;
    transform:translateX(-50%) translateY(-50%);
    transition: .4s ease;
    transform-origin: right center;
    z-index: 2;
}
::-webkit-full-page-media, :future, :root .top_more_button ._arrow span {
   transition: .4s ease ,width 0s;
}
.top_more_button .hover ._arrow span { width: 10px; }
.top_more_button .hover ._arrow span:nth-of-type(1) {
    transform:translateX(-50%) translateY(-50%) rotate(30deg);
}
.top_more_button .hover ._arrow span:nth-of-type(2) {
    transform:translateX(-50%) translateY(-50%) rotate(-30deg);
}
.top_link_sec {
	display: flex;
	font-size: 0; letter-spacing: 0;
}
.top_link_item {
	width: 50%;
	position: relative;

    box-sizing: content-box;
}
.top_link_item:first-of-type { border-right: 1px solid #fff; }
.top_link_item a {
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}
.top_link_item a .all_parallax { padding-bottom: 110.4%; }
.top_link_item .hover { opacity: 1; }
.top_link_item a::before{
	content: '';
	display:block;
	background:#1a1a1a;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	transition: .4s ease;
	opacity: 0.34;
  perspective: 1000;
  -webkit-perspective: 1000;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.top_link_item a.hover::before{ opacity: 0.63; }
.top_link_item img { width: 100%; height: auto; transition:transform.4s ease; }
.top_link_item .hover img { transform:scale(1.1); }
.top_link_item ._title_sec {
	position: absolute;
	top: 34%;
	left: 50%;
    transform: translateX(-50%);
	display: inline-block;
	pointer-events: none;
	z-index: 3;
}
.top_link_item ._cn {
	width: 1em;
	line-height: 1.16;
	font-size: 24px;
	color: #fff;
	transform: translateY(-2px);
}
.top_link_item ._en {
	position: absolute;
	bottom: 100%;
	left: -30px;
	transform:rotate(90deg);
	transform-origin: left bottom;
	white-space:nowrap;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}
.top_link_item ._text {
	position: absolute;
	bottom: 11.6%;
	left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    letter-spacing: -0.03em;
	font-size: 15px;
	color: #fff;
}
.top_link_item ._text::before{
	content: '';
	display:block;
	background: #fff;
	width: 15px;
	height: 1px;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
	left: calc(100% + 33px);
	transition: .4s ease;
}
.top_link_item .hover ._text::before{ width: 52px; }

/* #professional 麹菌のプロフェッショナル
=========================================== */
.professional_what { margin-top:190px; position:relative; }
.professional_what ._inner {
	padding-bottom:255px;
	position:relative;
	white-space:nowrap;
	letter-spacing: 0;
	font-size: 0;
}
.professional_what ._text {
	width:100%;
	margin-right:10.67%;
	padding:45px 0 100px;
	position:relative;
	z-index:3;
	display:inline-block;
	vertical-align:top;
	white-space:normal;
}
.professional_what_swiper_wrap {
	width:calc(47% + 80px);
	position: relative;
	display: inline-block;
	white-space:nowrap;
	outline:none;
}
.professional_what ._img {
    width: 351px;
	position:relative;
	z-index:3;
	display:inline-block;
	vertical-align:top;
	white-space:normal;
	overflow:hidden;
	pointer-events: none;
}
.professional_what ._img:first-of-type { margin-right: 16px; }
.professional_text { margin-top:45px; }
.professional_text p { letter-spacing:0.5px; }
.professional_text p:nth-child(n+2) { margin-top:18px; }
.professional_what .swiper-slide { width:351px; height:561px; }
.professional_what .swiper-slide div { width:100%; height:calc(100% + 120px); position:relative; }
.professional_what ._img:nth-of-type(2) .swiper-wrapper { left: -18px; }
.professional_what ._img1 div {
	background: url(../img/professional_img_what1.jpg) no-repeat center / cover;
}
.professional_what ._img2 div {
	background: url(../img/professional_img_what2.jpg) no-repeat center / cover;
}
.professional_what ._img3 div {
	background: url(../img/professional_img_what3.jpg) no-repeat center / cover;
}
.professional_what ._img4 div {
	background: url(../img/professional_img_what4.jpg) no-repeat center / cover;
}
.professional_what ._next {
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(50%,-50%);
	z-index:3;
	cursor:pointer;
	outline:none;
}
.professional_what ._next img { width:90px; height:90px; }
.professional_what ._bgtext {
	position:absolute;
	left:19.56%;
	bottom:85px;
	z-index:2;
}
.professional_what ._foot_img {
	width:328px;
	height:253px;
	position:absolute;
	left:-11.4%;
	bottom:0;
}
.professional_what ._foot_img div {
	background: url(../img/professional_img_what_foot.jpg) no-repeat center / cover;
	width:100%;
	height:calc(100% + 60px);
	position:relative;
}
.professional_about { margin-top:270px; position:relative; }
.professional_about ._inner { padding-bottom:115px; position:relative; z-index:2; display:flex; justify-content:space-between; align-items:flex-start; }
.professional_about ._text { width:46%; padding:60px 0 150px; order:1; }
.professional_about ._img { width:46%; height:642px; order:0; }
.professional_about ._img div {
	background: url(../img/professional_img_about.jpg) no-repeat center / cover;
	width:100%;
	height:calc(100% + 120px);
	position:relative;
}
.professional_about ._bgtext {
	position:absolute;
	left:54.3%;
	bottom:20%;
}
.professional_about ._foot_img {
	width:324px;
	height:217px;
	position:absolute;
	right:calc(-11.4% - 80px);
	bottom:0;
}
.professional_about ._foot_img div {
	background: url(../img/professional_img_about_foot.jpg) no-repeat center / cover;
	width:100%;
	height:calc(100% + 60px);
	position:relative;
}
.professional_about:after {
    content:"";
    background:url(../img/container_bg.png) no-repeat left top 155px / 1608px;
    width:1608px;
    height:858px;
    position:absolute;
    left:-210px;
    bottom:-330px;
    display:block;
}
.professional_history {
	background: url(../img/professional_bg_history.jpg) no-repeat center / cover;
	width:calc(100% + 80px);
	margin-top:270px;
	position:relative;
	z-index:2;
}
.professional_history ._inner { padding:218px 0 165px; }
.professional_history ._text { max-width:641px; color:#fff; }
.professional_history .all_title { color:#fff; }
.professional_history .all_title ._border_text:after { background:#fff; }
.professional_history .all_text { color:#fff; }

/* #choice 種麹の選び方
=========================================== */
.choice_tab_sec { margin-top:110px; }
.choice_tab_sec ._title { text-align:center; font-weight:600; font-size:20px; color:#748729; }
.choice_tab_sec .all_tab { width:103%; max-width:none; margin-top:15px; }
.choice_tab_sec li,
.choice_tab_sec ._bg { width:25%; }
.choice_sec { margin-top:60px; display:none; }
.choice_sec#sake { display:block; }
.choice_sec ._full_img { height:517px; overflow:hidden; }
.choice_sec ._full_img div { height:calc(100% + 110px); position:relative; }
.choice_sec#sake ._full_img div { background:url(../img/choice_bg_full_Incinerate.jpg) no-repeat center / cover; }
.choice_sec#shochu ._full_img div { background:url(../img/choice_bg_full_Bury.jpg) no-repeat center / cover; }
.choice_sec#miso ._full_img div { background:url(../img/choice_bg_full_Recycle.jpg) no-repeat center / cover; }
.choice_sec#soy_sauce ._full_img div { background:url(../img/choice_bg_full_Fwr.jpg) no-repeat center / cover; }
.choice_point {
	background:#fff;
	width:105%;
	padding:65px 0 0;
	margin-top:-120px;
	position:relative;
	z-index:2;
}
.choice_point_list {
	margin-top:35px;
	display:flex;
	flex-wrap:wrap;
}
.choice_point_list li { width:33.33%; padding:30px 25px 50px; }
.choice_point_list li:nth-child(n+2) { border-left:1px rgba(112,112,112,0.2) solid; }
.choice_point_list li:nth-child(3n-2) { border-left:none; }
.choice_point_list li:nth-child(n+4) { border-top:1px rgba(112,112,112,0.2) solid; }
.choice_point_list._four li { width:25%; }
.choice_point_list._four li:nth-child(n+2) { border-left:1px rgba(112,112,112,0.2) solid; }
.choice_point_list._four li:nth-child(n+4) { border-top:none; }
.choice_point_list ._head {
	height:70px;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#748729;
}
.choice_point_list ._number {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-60%);
	line-height:1;
	font-weight:500;
	font-size:143px;
	font-family: 'Cormorant Garamond', serif;
	opacity:0.05;
}
.choice_point_list ._title {
	position:relative;
	top: 4px;
	z-index:2;
	font-weight:600;
	font-size:18px;
}
.choice_point_list .all_text { margin-top:25px; }
.choice_pdf {
	background:#F7F8F2;
	margin-top:65px;
	padding:72px 40px 60px;
	position:relative;
	z-index:2;
	border:1px #E3EFB6 solid;
}
.choice_pdf ._bgtext {
	position:absolute;
	left:5%;
	top:12px;
	line-height:1;
	font-weight:500;
	font-size:102px;
	font-family: 'Cormorant Garamond', serif;
	color:#FFF;
}
.choice_pdf ._button {
	max-width:604px;
	margin:0 auto;
	position:relative;
	z-index:2;
	text-align:center;
}
.choice_pdf ._button a {
	background:#AD1703;
	padding:29px 0;
	display:block;
	color:#fff;
	transition: transform 0.4s ease;
	will-change:transform;
	backface-visibility:hidden;
}
.choice_pdf ._button a.hover {
	transform:scale(1.02);
	opacity:1;
}
.choice_pdf ._button a:after {
    content:"";
    background:url(../images/all_pdf.svg) no-repeat center / 100% 100%;
    width:26px;
    height:34px;
    position:absolute;
    right:30px;
    top:50%;
    transform:translateY(-50%);
    display:block;
}
.choice_role {
	margin-top:195px;
	position:relative;
}
.choice_role:after {
    content:"";
    background:url(../img/container_bg.png) no-repeat left top 155px / 1608px;
    width:1608px;
    height:858px;
    position:absolute;
    left:-25%;
    top:-700px;
    display:block;
}
.choice_role .all_title { position:relative; z-index:2; }
.choice_role .all_text {
	margin-top:45px;
	position:relative;
	z-index:2;
}
.choice_role ._swipe { display:none; }
.choice_role_table { background:#fff; margin-top:25px; position:relative; z-index:2; }
.choice_role_table table { width:100%; border-top:1px #748729 solid; }
.choice_role_table thead { background:#748729; }
.choice_role_table thead th {
	width:50%;
	padding:20px 0;
	text-align:center;
	font-weight:600;
	font-size:18px;
	color:#fff;
}
.choice_role_table thead th:nth-child(n+2) { border-left:1px #FFF solid; border-right: 1px solid #748729; }
.choice_role_table tbody th {
	background:#f2f3e6;
	padding:15px 30px 15px 30px;
	border-top:1px rgba(219,224,200,1) solid;
	font-weight:600;
	font-size:16px;
	color:#333;
}
.choice_role_table tbody td {
	padding:17px 20px;
	border-top:1px rgba(219,224,200,0.68) solid;
	font-weight:600;
	font-size:14px;
	color:#808080;
}
.choice_role_table tbody td._green {
	width:25%;
	padding:16px 25px;
    border-right: 1px rgba(219,224,200,1) solid;
	background:#fbf9ee;
	font-size:15px;
	color:#748729;
}
.choice_role_table tbody tr:nth-child(1) > th,
.choice_role_table tbody tr:nth-child(1) > td { border-top:none; }

.choice_role_table tbody th {
    border-right: 1px rgba(219,224,200,1) solid;
	border-left:1px #748729 solid;
}
.choice_role_table tbody td:last-of-type {
	border-right:1px #748729 solid;
}
.choice_role_table tbody tr:last-of-type >* {
	border-bottom:1px #748729 solid;
}
.choice_caution_sec { margin-top:120px; }
.choice_caution {
	width:107.7%;
	padding:130px 0 155px;
	position:relative;
	display:flex;
	justify-content:space-between;
	align-items:flex-start;
}
.choice_caution:before {
	content:"";
	background:#FFF;
	width:1px;
	height:193px;
	position:absolute;
	left:50%;
	top:50%;
	z-index:3;
	transform: translateY(-50%);
}
.choice_caution:after {
    content:"";
    background:#F5F5F5;
    width:100vw;
    height:100%;
    position:absolute;
    left:-11.2%;
    top:0;
    display:block;
    opacity:0.7;
}
.choice_caution section {
	width:41.5%;
	position:relative;
	z-index:2;
}
.choice_caution ._title {
	text-align:center;
	font-weight:600;
	font-size:20px;
	color:#1A1A1A;
}
.choice_caution .all_text {
	margin-top:24px;
	color:#505050;
}


/* #product 商品紹介
=========================================== */
.product_sec { margin-top:120px; }
.product_top { display:flex; flex-wrap:wrap; }
.product_top section {
	width:50%;
	height:551px;
}
.product_top section:nth-child(2n) { border-left:1px #fff solid; }
.product_top section:nth-child(n+3) { border-top:1px #fff solid; }
.product_top a {
	height:100%;
	padding:0 15%;
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:#fff;
	overflow:hidden;
}
.product_sec a.hover { opacity:1; }
.product_sec a ._parallax_bg {
    content:"";
    width:100%;
    height:112%;
    position:absolute;
    left:0;
    top:0;
    display:block;
    transition: transform 0.4s ease;
}
.product_top ._sake a ._parallax_bg {
	background:url(../img/product_bg_top_sake.jpg) no-repeat center / cover;
}
.product_top ._shochu a ._parallax_bg {
	background:url(../img/product_bg_top_shochu.jpg) no-repeat center / cover;
}
.product_top ._miso a ._parallax_bg {
	background:url(../img/product_bg_top_miso.jpg) no-repeat center / cover;
}
.product_top ._soy_sauce a ._parallax_bg {
	background:url(../img/product_bg_top_soy_sauce.jpg) no-repeat center / cover;
}

.product_sec a.hover:after { transform:scale(1.05); }
.product_title {
	width:1em;
	position:relative;
	z-index:2;
	line-height:1.2;
	font-size:27px;
}
.product_title ._point { display: block; }
.product_top .all_text {
	margin-top:40px;
	position:relative;
	z-index:2;
	color:#fff;
}
.product_sec ._pdf {
	width:52px;
	height:52px;
	position:absolute;
	right:45px;
	bottom:38px;
	z-index:2;
}
.product_sec ._pdf ._circle {
	width: 100%;
	height: 100%;
	border:1px #fff solid;
	border-radius:50%;
	transition: .4s ease;
	transform:none;
}
.product_sec .hover ._pdf ._circle { transform:scale(0); }
.product_sec ._pdf:before {
    content:"";
    background:#fff;
    width:12px;
    height:1px;
    position:absolute;
    left:50%;
    top:50%;
    display:block;
    transform:translateX(-50%);
}
.product_sec ._pdf:after {
    content:"";
    background:#AD1703 url(../images/all_pdf.svg) no-repeat center / 29px 38px;
    width:92px;
    height:92px;
    position:absolute;
    left:50%;
    top:50%;
    display:block;
    transform:translate(-50%,-50%) scale(0);
    border-radius:50%;
    opacity: 0;
    transition: all 0.4s .1s ease;
}
.product_sec a.hover ._pdf:after {
	opacity: 1;
    transform:translate(-50%,-50%) scale(1);
}
.product_bottom {
	margin-top: 120px;
	padding: 130px 0;
	position: relative;
}
.product_bottom::after {
	content: "";
    background: #F5F5F5;
    width: 100vw;
    height: 100%;
    position: absolute;
    left: -11.2%;
    top: 0;
    display: block;
    opacity: 0.7;
}
.product_bottom ._other {
	width: 92.8%;
	position: relative; z-index: 1;
}
.product_bottom .all_title {
	font-size: 27px;
}
.product_bottom ._other_list { margin-top: 45px; font-size: 0; letter-spacing: 0; }
.product_bottom ._other_list  li {
	height: 110px;
	width: 48.5%;
	border: 1px solid #E3EFB6;
	display: inline-block;
	vertical-align: top;
}
.product_bottom ._other_list  li:nth-of-type(2n-1) { margin-right: 3%; }
.product_bottom ._other_list  li:nth-of-type(n+3) { margin-top: 20px; }
.product_bottom ._other_list a {
	background: #fff;
	height: 100%;
	padding: 0 65px 0 38px;
	position: relative;
	display: flex;
    align-items: center;
    text-align: left;
    transition: .4s ease;
}
.product_bottom ._other_list a.hover {
	background: #afa300;
}
.product_bottom ._other_list span {
	font-size: 20px;
	letter-spacing: 0.05em;
	color: #1A1A1A;
	transition: .4s ease;
}
.product_bottom ._other_list .hover span { color: #fff; }
.product_bottom ._other_list a::before{
	content: '';
	display:block;
	background: url('../images/product_bottom_other_pdf.svg') no-repeat center right / 100%;
	width: 32px;
	height: 42px;
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    right: 30px;
    transition: .4s ease;
}
@media all and (-ms-high-contrast: none) {
    .product_bottom ._other_list a::before{ width: 31px; }
}
.product_bottom ._other_list a.hover::before{
	background: url('../images/product_bottom_other_pdf_hover.svg') no-repeat center right / 100%;
}
.product_bottom_text { margin-top: 30px; }
/* #company 会社案内
=========================================== */
.company_greeting { margin-top:185px; position:relative; }
.company_greeting .all_copy.all_copy { width: 100%; margin: 20px 0 10px; line-height: 2; }
.company_greeting .all_text { margin-top:40px; }
.company_greeting .all_text p:not(.all_copy) { letter-spacing: 0.05em; }
.company_greeting .all_text ._small {
	font-style: oblique;
	font-size: 12px;
}
.company_greeting .all_text ._small .all_new_line { margin-right: 4px; }
.company_greeting ._name { margin-top:40px; }
.company_greeting ._name span {
	margin:0 35px 0 0;
	display:inline-block;
	vertical-align:middle;
}
.company_greeting img { vertical-align:middle; }
.company_greeting ._bgtext {
	position:absolute;
	right:-11%;
	top:70px;
	transform:translateY(-50%);
}
.company_full_img { margin-top:108px; padding-top:48.15%; }
.company_full_img ._parallax_bg {
	background:url(../img/data_img_full.jpg) no-repeat center / cover;
	width:100%;
	padding-top:calc(48.15% + 120px);
	position:absolute;
	right:0;
	z-index: 1;
}
.company_profile { margin-top:225px; }
.company_profile ._inner { width:58.64%; position:relative; }
.company_description { margin-top:15px; }
.company_description ._list {
	display:flex;
	border-bottom:1px #E2E2E2 solid;
}
.company_description ._list > dt {
	width:105px;
	padding:22px 0 22px 8px;
	position:relative;
}
.company_description ._list > dt:after {
    content:"";
    background:#748729;
    width:24px;
    height:1px;
    position:absolute;
    left:0;
    bottom:-1px;
    display:block;
}
.company_description ._list > dt p { opacity:0.4; }
.company_description ._list > dd {
	width:calc(100% - 105px);
	padding:22px 0 22px 35px;
}
.company_description ._name {
	letter-spacing:0;
	font-size:0;
}
.company_description ._name dt {
	width:150px;
	display:inline-block;
	vertical-align:top;
	font-size:15px;
}
.company_description ._name dd {
	display:inline-block;
	vertical-align:top;
	font-size:15px;
}
.company_description ._tel {
	display:inline-block;
	vertical-align:top;
	font-size:18px;
}
.company_description a._tel {
	margin-right:18px;
	color:#748729;
}
.company_profile ._bgtext {
	position:absolute;
    left: 67.9%;
    top: -81px;
	transform:translateY(-50%);
}
.company_profile iframe {
	width:465px;
	height:100%;
	position:absolute;
	left:calc(100% + 105px);
	top:0;
}

/* #all_form お問い合わせ、共同開発のご相談
=========================================== */
.all_form_sec { margin-top:55px; }
.all_form_main { margin-top:40px; }
.all_form_main table { width:100%; }
.all_form_main th {
	width:285px;
	min-width:285px;
	padding:22px 0;
	vertical-align:middle;
}
.all_form_main th._vt {
	padding-top:38px;
	vertical-align:top;
}
.all_form_main td {
	padding:22px 0;
	vertical-align:middle;
}
.all_form_main ._head {
	padding-left:25px;
	position:relative;
	color:#333;
}
.all_form_main ._required:after {
    content:"※";
    position:absolute;
    left:0;
    top:0;
    display:block;
    color:#AFA300;
    opacity:0.75;
}
.all_form_radio_list {
	letter-spacing:0;
	font-size:0;
}
.all_form_radio_list li {
	margin-right:25px;
	display:inline-block;
	vertical-align:middle;
}
.all_form_radio_list li:last-child { margin-right:0; }
.all_form_radio_list label {
	padding-left:32px;
	position:relative;
	display:inline-block;
	vertical-align:middle;
}
.all_form_radio_list input { position:absolute; left:0; top:0; opacity:0; }
.all_form_radio_list ._text {
	display:inline-block;
	vertical-align:middle;
	font-size:13px;
}
.all_form_radio_list ._text span {
	opacity:0.75;
}
.all_form_radio_list ._text:before {
	content: "";
	background: #fff;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	border:1px #DBE0C8 solid;
	border-radius:50%;
}
.all_form_radio_list ._text:after {
    content:"";
    background: #748729;
	width: 14px;
	height: 14px;
	position: absolute;
	left: 4px;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	border:1px #DBE0C8 solid;
	border-radius:50%;
	opacity:0;
	transition: opacity 0.3s ease;
}
.all_form_radio_list input:checked + ._text:after {
	opacity:1;
}
.all_form_main ._input_text {
	padding:14px 25px;
	border:1px #DBE0C8 solid;
	font-size:14px;
}
.all_form_main ::placeholder {
	color:#808080;
	opacity:0.3;
}
.all_form_main ._full { width:100%; }
.all_form_main ._small { width:40.15%; min-width:140px; margin-right:15px; vertical-align:middle; }
.all_form_main ._small:last-child { margin-right:0; }
.all_form_main ._postcode_sec {
	position:relative;
	letter-spacing:0;
	font-size:0;
}
.all_form_main ._postcode { padding-left:50px; }
.all_form_main ._postcode_sec:before {
    content:"〒";
    position:absolute;
    left:25px;
    top:11px;
    display:block;
    font-size:14px;
}
.all_form_main ._postcode_sec p {
	display:inline-block;
	vertical-align:middle;
	font-size:13px;
	color:#333;
	opacity:0.75;
}
.all_form_main ._address_bottom {
	margin-top:44px;
}
.all_form_main textarea { height:289px; }
.all_form_consent { margin-top:18px; }
.all_form_consent a { text-decoration: underline; }
.all_form_consent label { position:relative; }
.all_form_consent input {
	position:absolute;
	left:0;
	top:0;
	opacity:0;
}
.all_form_consent span {
	padding-left:28px;
	position:relative;
	display:block;
	line-height:1.8;
	font-size:14px;
	color:#333;
}
.all_form_consent span:before {
    content:"";
    width:16px;
    height:16px;
    position:absolute;
    left:0;
    top:calc(0.8em - 8px);
    display:block;
    border:1px #DBE0C8 solid;
}
.all_form_consent input:checked + span:before {
	background:#748729;
	border:1px #748729 solid;
}
.all_form_consent input:checked + span:after {
	content: "";
	width: 4px;
	height: 8px;
	position: absolute;
	left: 6px;
	top: 11px;
	transform: translateY(-60%) rotate(45deg);
	border-bottom: 1px #fff solid;
	border-right: 1px #fff solid;
	display: block;
}
.all_form_main ._submit {
	background:#748729;
	width:100%;
	margin-top:58px;
	padding:27px 10px;
	display:block;
	border:1px #748729 solid;
	text-align:center;
	font-size:15px;
	color:#fff;
	transition: all 0.4s ease;
}
.all_form_main ._submit.hover {
	background:#fff;
	color:#748729;
}
.all_form_main ._back {
	margin:15px auto 0;
	padding:0;
	text-align:center;
}
.all_form_main ._back button {
	padding:0;
	position:relative;
	display:inline-block;
	line-height:1.5;
	font-size:14px;
	color:#748729;
}
.all_form_main ._back button:after {
    content:"";
    background:#748729;
    width:100%;
    height:1px;
    position:absolute;
    left:0;
    bottom:0;
    display:block;
    transition: opacity 0.4s ease;
}
.all_form_main ._back button.hover:after {
	opacity:0;
}
.confirm .all_form_main th._vt { padding-top:22px; }
#movable_zipaddr { font-size: 0; }
#movable_zipaddr::before{
	content: '番号が正しくありません';
	display:block;
	font-size: 14px;
	color: #fff;
}
/* #privacy プライバシーポリシー
=========================================== */
.privacy_sec { margin-top:105px; }
.privacy_list li:nth-child(n+2) { margin-top:35px; }
.privacy_list ._title {
	padding-left:16px;
	position:relative;
	font-size:20px;
	color:#1A1A1A;
}
.privacy_list ._title:after {
    content:"";
    background:#748729;
    width:5px;
    height:5px;
    position:absolute;
    left:0;
    top:calc(0.75em - 2.5px);
    display:block;
    border-radius:50%;
}
.privacy_list .all_text { margin-top:12px; }


/* #footer フッター
=========================================== */
#footer {
	background: url('../img/footer_bg.jpg') no-repeat center right / cover;
	padding:80px 0 35px; position:relative; z-index:2;
}
#footer ._top {
	letter-spacing:0;
	font-size:0;
}
#footer ._top_logo {
	width:212px;
	display:inline-block;
	vertical-align:bottom;
}
#footer ._top_logo img {
	width:100%;
	height:auto;
}
#footer ._top_main {
	width:calc(100% - 212px);
	padding-left:10.2%;
	display:inline-block;
	vertical-align:bottom;
}
#footer ._top_nav {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
#footer ._top_nav li:nth-child(1),
#footer ._top_nav li:nth-child(4) { width:25.3%; }
#footer ._top_nav li:nth-child(2) { width:43.2%; }
#footer ._top_nav li:nth-child(3) { width:31.2%; }
#footer ._top_nav li:nth-child(5) { width:24.5%; }
#footer ._top_nav li:nth-child(6) { width:26.8%; }
#footer ._top_nav li:nth-child(7) { width:23%; }
#footer ._top_nav li:nth-child(n+4) { margin-top:50px; }
#footer ._top_nav a { color:#fff; }
#footer ._top_nav a ._top_nav_main {
    background: linear-gradient(#fff,#fff);
    background-size: 0% 1px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size .5s cubic-bezier(.165,.84,.44,1);
    display: inline-block;
}
#footer ._top_nav a.hover ._top_nav_main {
    background-size: 100% 1px;
    background-position: 0 100%;
}
#footer ._top_nav_main {
	font-size:18px;
	-webkit-font-feature-settings:"palt"; font-feature-settings:"palt";
}
#footer ._top_nav li:nth-child(7) ._top_nav_main { padding-right:0; }
#footer ._top_nav_sub {
	margin-top:12px;
	line-height:1;
	font-weight:500;
	font-size:12px;
	font-family:'Cormorant', serif;
}
#footer ._top_name {
	display:none;
}
#footer ._top_mail {
	margin-top:60px;
	line-height:1;
}
#footer ._top_mail  {
	display:inline-block;
	color:#fff;
}
#footer ._top_mail ._head {
	margin-right:10px;
	font-size:24px;
}
#footer ._top_mail ._number {
	font-size:28px;
}
#footer ._bottom {
	margin-top:155px;
	position:relative;
	letter-spacing:0;
	font-size:0;
	overflow:hidden;
}
#footer ._bottom_link {
	position:absolute;
	left:400px;
	top:50%;
	transform:translateY(-50%);
}
#footer ._bottom_link a {
	font-weight:500;
	font-size:15px;
	color:#fff;
}
#footer ._bottom_link:after {
    content:"";
    background:#FFF;
    width:100vw;
    height:1px;
    position:absolute;
    left:calc(100% + 60px);
    top:50%;
    display:block;
    opacity:0.2;
}
#footer ._bottom_copyright {
	font-size:14px;
	font-family:'Cormorant', serif;
	color:#fff;
}
#footer ._bottom_copyright small {
	letter-spacing:0.2px; 
}



